In [ ]:
Q. 1. Count the number of Salesperson whose name begin with ‘a’/’A’.

       SELECT * FROM salespeople WHERE NAME LIKE 'A%'or'a%';

Q-2. Display all the Salesperson whose all orders worth is more than Rs. 2000.

        SELECT Amt FROM employee WHERE Amt>=2000;

Q-3. Count the number of Salesperson belonging to Newyork.

        SELECT COUNT(*) FROM salespeople WHERE city = 'New York';

Q-4. Display the number of Salespeople belonging to London and belonging to Paris.

       SELECT * FROM customer WHERE NOT (city = 'New York' AND city = 'paris');

Q-5. Display the number of orders taken by each Salesperson and their date of orders.

        SELECT odate,onum,COUNT(*) FROM salespeople GROUP BY odate,onum;